{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Welcome to Fruit Shop</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate explicabo illo laborum magni mollitia, nobis
    praesentium quam quis rem rerum saepe sit vero? Accusantium aliquid at beatae blanditiis laborum libero nisi
    placeat, recusandae rem voluptatem! Ad aliquam amet aperiam beatae consequuntur dolore error, esse explicabo facere
    inventore ipsam itaque maxime minima nihil officiis porro, ratione suscipit tenetur ut veritatis. Ab adipisci
    aperiam aspernatur assumenda culpa cum cupiditate deleniti ea eius eligendi enim est, expedita explicabo facilis hic
    laborum minima minus mollitia nihil non odit possimus quae, ratione recusandae, sed similique sunt suscipit tempora
    temporibus tenetur totam ut veniam voluptate voluptates?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eveniet hic vero. Animi architecto delectus non
    possimus voluptatibus. Aliquam animi eveniet libero odio? Assumenda cumque esse et, in quis similique tempore.
    Aliquam, assumenda corporis expedita facere molestiae nemo nostrum officiis praesentium quaerat quam quisquam
    recusandae, repudiandae, sed! Ad assumenda beatae doloremque eos facere, id illo ipsum, maxime molestias quo
    reiciendis rem rerum. Amet dolore est exercitationem fugit velit? Adipisci cum delectus dicta dignissimos dolorem
    doloribus est ex necessitatibus nobis odit, perspiciatis, placeat, porro voluptas? Aliquam architecto autem dolore
    ducimus enim, eum laborum laudantium libero magnam neque nesciunt, quibusdam tempora, voluptatum.</p>

<img src="https://www.bhf.org.uk/-/media/images/information-support/heart-matters/heart-matters/sping-2018/fruits_selection_original_620x400.jpg?rev=5ab47de192b642b9a4d4cce11cb3c92c"
         alt="..." style="width: 100%">
<br><br><br>
<hr>
<h1 style="margin: 0 0 15px 490px">Register Section</h1>
<lable>
    <a href="signup/">
        <button type="button" class="btn btn-primary" style="margin: 0 0 0 510px">Sing Up</button>
    </a>
</lable>
<lable>
    <a href="login/">
        <button type="button" class="btn btn-secondary">Login</button>
    </a>
</lable>
<lable>
    <a href="products/">
        <button type="button" class="btn btn-success">Products</button>
    </a>
</lable>
<br><br>
<hr>
<h1>about us:</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores aut culpa cum dicta dolore, doloribus
    eius eos eum, exercitationem id illo maxime obcaecati provident repudiandae sed similique tempora ut! At atque et
    eum exercitationem illo magni minus optio praesentium tempore tenetur. Ab amet at cum eius enim est et magnam magni,
    nisi provident sit soluta vel voluptatibus? Accusantium adipisci aliquid beatae corporis ea et in ipsa ipsam iste
    iure iusto, magni officia pariatur possimus qui rem temporibus voluptas, voluptatum. Ab beatae blanditiis
    consequatur corporis cumque debitis deleniti dolorum eos fuga, harum illo incidunt ipsam ipsum iusto laboriosam
    minima molestiae molestias nam nostrum numquam obcaecati optio perspiciatis provident quaerat quasi quisquam
    reprehenderit rerum saepe sed tempora temporibus tenetur velit voluptate. Et facilis impedit placeat praesentium. At
    autem, doloremque dolorum inventore iste nemo optio perspiciatis quis tempora veniam. Accusamus assumenda, beatae
    consectetur dicta earum esse et maiores nihil optio possimus praesentium quae sapiente sequi similique tempore.
    Accusantium aliquid amet animi assumenda commodi consectetur corporis delectus dicta ducimus eius eligendi expedita
    facilis fuga id incidunt, ipsam iste itaque minima molestias mollitia nam, neque nesciunt nisi optio porro
    praesentium quaerat qui quibusdam quidem tenetur totam vero voluptas voluptatibus. At enim eos officiis
    voluptatibus!</p>
<br><br>
<div class="input-group">
  <h1 class="input-group-text">Write your comments ==></h1>
  <textarea class="form-control" aria-label="With textarea" style="height: 100px"></textarea>
</div>
<lable>
    <a href="comment/">
        <button type="button" class="btn btn-danger">Submit</button>
    </a>
</lable>
<br><br>
<hr>
{% endblock %}
```