{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <h1>More Information:</h1>
    <img src="https://img.freepik.com/free-photo/colorful-fruits-tasty-fresh-ripe-juicy-white-desk_179666-169.jpg" alt="">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa cupiditate deserunt dignissimos dolore
        dolores dolorum earum error est et, eveniet, in laboriosam maxime officiis quisquam reiciendis tenetur.
        Accusantium,
        adipisci atque eaque et id illum iste itaque laudantium neque placeat quam qui quos ratione sapiente voluptatem!
        Eum
        molestiae obcaecati tempora totam. Architecto aut ea ipsum odit totam voluptatem, voluptatibus. Ab culpa eaque
        fuga
        laudantium mollitia possimus repellendus. Consequatur eveniet molestias officia perspiciatis quae sint? Corporis
        esse, id impedit ipsum minus, nulla quis reiciendis repudiandae sapiente soluta tempore veritatis vero,
        voluptate!
        Amet assumenda autem deserunt dolore doloremque et excepturi expedita harum hic illum ipsam, iusto nam
        necessitatibus non quia ratione, sunt voluptatibus. Dolor facere illo temporibus! Dolor eos facilis fugit harum,
        illum in inventore itaque libero necessitatibus neque obcaecati optio perferendis quibusdam quo quod totam
        voluptatum! Ad cupiditate dolore fugit impedit molestiae nobis quaerat rem rerum sit voluptatum! Ab accusamus ad
        architecto assumenda at consequatur cum doloremque, earum eius enim excepturi exercitationem facilis incidunt
        inventore itaque maxime nobis officiis, placeat quos repellendus similique tempore temporibus tenetur totam
        voluptas
        voluptatibus voluptatum. Animi blanditiis, esse exercitationem fugit in iste itaque iusto maiores necessitatibus
        nemo nisi officia officiis quam ratione suscipit unde velit? Asperiores enim quibusdam sed. Fugiat iusto, magni
        quam
        quos sint unde. Alias architecto consequatur excepturi nostrum rem tenetur voluptatibus. Aperiam consectetur,
        distinctio eius ex exercitationem inventore laboriosam libero natus nulla quaerat? Animi aspernatur beatae
        consectetur culpa delectus dolore eaque expedita facilis fugit illum, iure neque nesciunt non officiis quidem
        quis
        quisquam quos recusandae repellendus reprehenderit sed similique tempora tempore ullam velit voluptatibus
        voluptatum! A adipisci aliquam amet animi architecto at atque blanditiis consectetur, cumque eligendi eos et
        facere
        facilis harum hic in inventore iure iusto laboriosam maxime natus odio pariatur praesentium quae quas quibusdam
        quis
        reiciendis rem repellat repellendus repudiandae sapiente sequi temporibus ut voluptas voluptatem voluptatibus!
        Ab at
        cum illum iusto labore magnam necessitatibus quibusdam quidem unde? Odit, perferendis, veritatis? Delectus dicta
        eveniet facilis, iure nam odio repellendus sequi totam veniam? Accusantium ad alias aperiam at beatae blanditiis
        dolore dolorem doloremque fuga libero minus nemo nobis obcaecati odit, placeat, porro recusandae, reprehenderit
        sint? Aspernatur beatae, enim illo in nihil sapiente totam? Amet, asperiores aut commodi, consequatur dicta
        dolorem
        doloremque dolores ducimus esse id obcaecati perferendis rem similique sint tempora tenetur, vel. Atque cumque
        deserunt, dignissimos ea ex impedit in, magni maxime perspiciatis possimus, similique sit voluptate! Assumenda
        consequuntur eius harum impedit libero molestiae, nesciunt nostrum possimus praesentium quae quam quo quos,
        recusandae reiciendis, sapiente vero voluptatem. Dolor quos, reiciendis. A accusamus, consequuntur culpa
        dignissimos
        distinctio dolorum ea earum eligendi est fugiat harum laboriosam maiores necessitatibus nemo odit omnis porro
        provident quas, qui recusandae rem sed sequi sint sunt ullam veniam voluptatem voluptatum? Aliquid at commodi
        dolorem, dolores ea iste libero nihil suscipit tenetur voluptatum! Asperiores aspernatur cupiditate deserunt
        dolor
        eaque facere inventore ipsa omnis optio, pariatur porro quibusdam rem tempora ut vero voluptatem voluptates.
        Harum
        iste iusto placeat! Amet consequuntur culpa earum, eligendi error eum non praesentium rem sequi temporibus?</p>
</div>
<hr>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/load" style="width: 500px">
          <button class="btn btn-primary" type="button" style="width: 500px">Payment</button>
    </a>
</div>

<br><br>
{% endblock %}
```